<section class="gallery gallery-2 overlay">
    <div class="instafeed" data-user-name="katiestoops">
        <ul></ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="#">
                    <h1>#Albert+Katrin</h1>
                    <h6>Share the day on Instagram</h6>
                </a>
            </div>
        </div>
    </div>
</section>
<footer class="footer footer-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h6>© Copyright 2015 Medium Rare - All Rights Reserved</h6>
            </div>
        </div>
    </div>
</footer>