/*!---------- GALLERY ----------*/
.instafeed img {
    display: none;
}

.instafeed li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.instafeed ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.gallery-1 {
    padding: 0;
    height: 650px;
}

.gallery-1 .slides li {
    height: 650px;
}

@media all and (max-width: 767px) {
    .gallery-1,
    .gallery-1 .slides li {
        height: 400px;
    }
}

.gallery-2 {
    padding: 0;
    height: 600px;
}

.gallery-2:before {
    opacity: .6;
}

.gallery-2 .instafeed,
.gallery-2 .instafeed ul {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gallery-2 .instafeed li {
    width: 20%;
    float: left;
    background-size: cover !important;
    height: 50%;
}

.gallery-2 .instafeed li:nth-child(n+11) {
    display: none;
}

.gallery-2 .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 3;
}

.gallery-2 h1 {
    font-size: 120px;
    color: #fff;
    font-weight: 100;
    line-height: 128px;
    cursor: pointer;
}

.gallery-2 h6 {
    color: #fff;
    cursor: pointer;
}

@media all and (max-width: 1300px) {
    .gallery-2 .instafeed li {
        width: 25%;
    }

    .gallery-2 .instafeed li:nth-child(n+9) {
        display: none;
    }
}

@media all and (max-width: 990px) {
    .gallery-2 .instafeed li {
        width: 33.33333%;
    }

    .gallery-2 .instafeed li:nth-child(n+7) {
        display: none;
    }
}

@media all and (max-width: 767px) {
    .gallery-2 h1 {
        font-size: 60px;
        max-width: 100%;
        font-weight: 300;
        line-height: 68px;
        margin-bottom: 8px;
    }

    .gallery-2 .instafeed li {
        width: 50%;
    }

    .gallery-2 .instafeed li:nth-child(n+5) {
        display: none;
    }
}

/*!---------- FOOTER ----------*/
footer {
    padding: 60px 0;
    background: #fff;
}

.footer-1 h6 {
    color: #aaa;
    font-weight: 400;
}