<a id="accomm" class="in-page-link"></a>

<section class="accom accom-2 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Where To Stay?</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 feature">
                <a href="#">
                    <img alt="Hotel" src="img/small5.jpg">
                </a>
                <h6>Sheraton Flinders</h6>

                <p>
                    Mention our names when making your reservation to recieve the group booking discount.
                </p>

                <p>
                    767 Greenvale Road<br>
                    Flinders Vic 3214
                </p>
            </div>

            <div class="col-sm-4 feature">
                <a href="#">
                    <img alt="Hotel" src="img/small6.jpg">
                </a>
                <h6>Camp Crusty, Flinders</h6>

                <p>
                    Limited cabins are available at Camp Krusty for groups with up to 8 guests.
                </p>

                <p>
                    122 Chilvers Avenue<br> Flinders, VIC 3214
                </p>
            </div>

            <div class="col-sm-4 feature">
                <a href="#">
                    <img alt="Hotel" src="img/small7.jpg">
                </a>
                <h6>Flinders Country Club</h6>

                <p>
                    A great option for the budget-concious with rooms for up to 4 guests.
                </p>

                <p>
                    65 Chilvers Avenue<br> Flinders, VIC 3214
                </p>
            </div>
        </div>
    </div>
</section>