<div class="nav-container">


    <nav class="nav nav-1 transparent light" [class.scrolled]="navIsFixed">
        <a href="index.html" class="logo">
            <span>Albert &amp; Katrin</span>
        </a>
        <ul class="menu">
            <li><a href="#home" class="inner-link" pageScroll>home</a></li>
            <li><a href="#story" class="inner-link" pageScroll>our story</a></li>
            <li><a href="#wedding" class="inner-link" pageScroll>wedding</a></li>
            <li><a href="#accomm" class="inner-link" pageScroll>accomm</a></li>
            <li><a href="#registry" class="inner-link" pageScroll>registry</a></li>
            <li><a href="#rsvp" class="inner-link" pageScroll>rsvp</a></li>
        </ul>
        <div class="mobile-toggle">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </nav>

</div>