/*!---------- RSVP ----------*/
form {
    position: relative;
}

input {
    -webkit-appearance: none;
}

input[type="submit"]:focus {
    outline: none;
}

.form-loading {
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    margin: 0px auto;
    top: 50%;
    width: 30px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.radio-holder input {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
}

.radio-holder {
    cursor: pointer;
    display: inline-block;
}

.radio-holder:hover,
.radio-holder.checked {
    background: #75c5b1;
    color: #fff;
}

.radio-holder.naked {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    font-family: 'Lato';
    margin: 0 16px;
    color: #75c5b1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: .7;
}

.radio-holder.naked span {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding-bottom: 4px;
}

.radio-holder.naked.checked,
.radio-holder.naked:hover {
    opacity: 1;
    background: none;
    color: #75c5b1;
}

.radio-holder.naked.checked span,
.radio-holder.naked:hover span {
    border-color: #75c5b1;
}

.form-section {
    margin-bottom: 60px;
}

@media all and (max-width: 767px) {
    .radio-holder.naked {
        margin-bottom: 20px;
    }
}

.rsvp form {
    margin: 0 auto;
    display: inline-block;
}

.rsvp form input[type="text"] {
    height: 55px;
    background: #fcfcfc;
    border: 1px solid #d6d6d6;
    width: 100%;
    padding: 0 8px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    font-family: 'Lato';
}

.rsvp form input[type="text"]:focus {
    outline: none;
}

.rsvp form input[type="submit"] {
    border: 1px solid #75c5b1;
    color: #75c5b1;
    text-align: center;
    min-width: 160px;
    height: 55px;
    line-height: 53px;
    text-transform: uppercase;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 0;
    border-radius: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    background: none;
    font-size: 12px;
}

.rsvp form input[type="submit"]:hover {
    background: #75c5b1;
    color: #fff;
}

.rsvp.bg-secondary form input[type="text"] {
    background: #fff;
}

.rsvp-1 h1 {
    margin-bottom: 30px;
}

.rsvp-1 p:last-of-type {
    margin-bottom: 60px;
}

.rsvp-1 form input[type="text"] {
    margin-bottom: 5px;
}

.rsvp-2 h1 {
    margin-bottom: 30px;
}

.rsvp-2 p:last-of-type {
    margin-bottom: 60px;
}

.rsvp-2 form input[type="text"] {
    margin-bottom: 5px;
}

.rsvp-2 .form-wrapper {
    width: 475px;
    margin: 0 auto;
    background: #fcfcfc;
    padding: 60px 0;
}

.rsvp-2 .form-section {
    margin-bottom: 40px;
}

.rsvp-2 h6 {
    color: #777;
    margin-bottom: 20px;
}

.form-error,
.form-success {
    display: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    position: absolute;
    bottom: 110%;
    width: 100%;
    padding: 8px;
    color: #fff;
}

.form-error {
    background: #c34747;
}

.form-success {
    background: #47c347;
}

@media all and (max-width: 767px) {
    .rsvp-2 .form-wrapper {
        width: 100%;
        padding: 20px;
    }
}