<a id="story" class="in-page-link"></a>

<section class="story story-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2>Join Albert &amp; Katrin on the 23th of September to celebrate their union.</h2>
                <h6>A little about the bride and groom.</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-6 feature feature-1">
                <img alt="Photo" src="assets/tall1.jpg">

                <p>
                    You have been my best friend, mentor, playmate, confidant, and my greatest challenge. But most
                    importantly, you are the love of my life and you make me happier than I could ever imagine and
                    more loved than I ever thought possible.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 feature feature-2">
                <img alt="Photo" src="assets/tall1.jpg">

                <p>
                    I love you for your beauty, your intelligence, your kindness… and for the way you always know
                    how to make me feel so special. So on top of all the other vows that I will make to you on our
                    wedding day, I also vow to always appreciate how lucky I am.
                </p>
            </div>
        </div>
    </div>
</section>