<section class="details details-2 overlay parallax">
    <div class="background-image-holder">
        <img alt="Background image" class="background-image" src="img/hero2.jpg">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>SAVE THE DATE</h1>
                <h4>Saturday August 6th - Bucks &amp; Hens details to follow.</h4>
            </div>
        </div>
    </div>
</section>

<a id="wedding" class="in-page-link"></a>

<section class="details details-3">
    <div class="container">
        <div class="row">
            <div class="details-description text-center">
                <p>
                    I guess you could call this a typical "boy meets girl in bar" story but with a twist! Boy buys
                    girl a drink, girl gives boy phone number. Two months and several thousand kilometers later and
                    said boy and girl are head over heels for each other. Fast forward to today and we're settling
                    down in our first home ready to tie the knot.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="text-center feature feature-1">
                <h5>Ceremony</h5>

                <p>
                    <strong>Montrose Vineyard</strong><br>
                    2:30pm - 3:30pm<br>
                    65 Chilvers Avenue<br>
                    Flinders Ranges, Vic
                </p>
            </div>

            <div class="col-md-4 col-sm-6 text-center feature">
                <h5>Reception</h5>

                <p>
                    <strong>Flinders Country Club</strong><br>
                    4:30pm - Late<br>
                    1021 Greenvale Road<br>
                    Flinders Ranges, Vic
                </p>
            </div>
        </div>
    </div>
</section>