/*!---------- DETAILS ----------*/
.details-1 {
    padding-bottom: 60px;
}

.details-1 h2 {
    margin-bottom: 30px;
}

.details-1 h6 {
    color: #75c5b1;
    margin-bottom: 60px;
}

.details-1 .feature {
    margin-bottom: 60px;
}

.details-3 .feature-1{
    margin-left: 16.66666667%;

}

.details-1 .feature h6 {
    color: #75c5b1;
}

.details-1 .feature h6,
.details-1 .feature h4 {
    margin-bottom: 15px;
}

.details-1 p:last-of-type {
    margin-bottom: 30px;
}

@media all and (max-width: 767px) {
    .details-1 .feature br {
        display: block;
    }
}

.details-2 {
    background: #75c5b1;
    padding: 180px 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.details-2 h1,
.details-2 h2,
.details-2 h3,
.details-2 h4,
.details-2 h5,
.details-2 h6 {
    color: #ffffff;
}

.details-2 p,
.details-2 span,
.details-2 li {
    color: #ffffff;
}

.details-2.light h1,
.details-2.light h2,
.details-2.light h3,
.details-2.light h4,
.details-2.light h5,
.details-2.light h6 {
    color: #222222;
}

.details-2.light p,
.details-2.light span,
.details-2.light li {
    color: #444444;
}

.details-2 h1 {
    font-size: 100px;
    line-height: 108px;
    font-weight: 100;
    margin-bottom: 30px;
}

@media all and (max-width: 1024px) {
    .details-2 h1 {
        font-size: 80px;
        line-height: 88px;
        font-weight: 300;
    }
}

@media all and (max-width: 767px) {
    .details-2 h1 {
        font-size: 64px;
        line-height: 72px;
    }
}

.details-3 {
    padding-bottom: 60px;
}

.details-3 .row:nth-of-type(1) p:last-of-type {
    margin-bottom: 60px;
}

.details-3 h5 {
    color: #75c5b1;
    margin-bottom: 20px;
}

.details-3 .feature {
    margin-bottom: 60px;
}

@media all and (max-width: 767px) {
    .details-3 .feature br {
        display: block;
    }
}

.details-4 .feature {
    width: 475px;
    background: rgba(252, 252, 252, 0.9);
    padding: 80px 0;
    text-align: center;
    margin: 0 auto;
}

.details-4 h2 {
    margin-bottom: 40px;
}

.details-4 h5 {
    color: #75c5b1;
    margin-bottom: 60px;
}

.details-4 .feature {
    margin-bottom: 60px;
}

.details-4 .feature h6 {
    color: #75c5b1;
}

.details-4 .feature h6,
.details-4 .feature h4 {
    margin-bottom: 15px;
}

.details-4 p:last-of-type {
    margin-bottom: 30px;
}

@media all and (max-width: 767px) {
    .details-4 .feature {
        width: 100%;
    }

    .details-4 .feature br {
        display: block;
    }
}

.details-5 img {
    margin-bottom: 30px;
    max-width: 340px;
}

.details-5 h2 {
    margin-bottom: 30px;
}

.details-5 p:last-of-type {
    margin-bottom: 30px;
}

@media all and (max-width: 767px) {
    .details-5 img {
        margin-bottom: 8px;
        max-width: 100%;
    }

    .details-5 img:last-child {
        margin-bottom: 30px;
    }

    .details-5 br {
        display: block;
    }
}

.details-description{
    margin-left: 16.66666667%;
    width: 66.66666667%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}